.site-container {
  max-width: 1440px;
  margin: 0 ;
  padding: 0 ;
}

  
  body {
    color: #fff;
    background-color: #191919;
    font-family: 'DM Sans', sans-serif;
  }
  
  header {
    padding: 40px 50px 10px 60px;
    background-color: #191919;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    width: 160px;
    height: 33px;
    margin-left: 20px;
  }
  
  .menu {
    display: flex;
    gap: 40px;
    list-style-type: none;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
  }
  
  .menu a:hover {
    background: rgba(17, 141, 168, 1);
  }
  
  .hero {
    display: flex;
    justify-content: space-between;
    padding: 85px;
  }
  
  .image {
    width: 650px;
    height: 873.44px;
  }
  
  .latest {
    font-weight: 400;
    font-size: 64px;
    line-height: 79.2px;
    letter-spacing: 0.5px;
    margin-left: 110px;
    padding-top: 60px;
    padding-bottom: 40px;
  }
  
  .blackcontainer1 {
    background-color: rgba(0, 0, 0, 1);
    width: 1300px;
    height: 545px;
    border-radius: 32px;
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: 85px;
  }
  
  .container {
    display: flex;
    padding: 40px;
    gap: 50px;
  }
  
  .doska-img {
    width: 389px;
    height: 465px;
  }
  
  .text-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  
  .gear-tag {
    background-color: #292929;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 6px;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .episode {
    font-size: 17px;
    line-height: 27px;
    color: rgba(17, 141, 168, 1);
    margin-bottom: 15px;
    margin-top: 10px;
  }
  
  .text-content h1 {
    font-family: DM Sans;
    font-size: 64px;
    font-weight: 400;
    line-height: 70.4px;
    letter-spacing: 2.56px;
    color: rgba(255, 255, 255, 1);
    margin: 10px 0;
    max-width: 701px;
  }
  
  .text-content p {
    font-family: DM Sans; 
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0%;
    max-width: 757px;
    margin-top: 25px;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .episode-btn {
    background-color: rgba(17, 141, 168, 1);
    border: none;
    border-radius: 6px;
    padding: 12px 24px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
  }
  
  .blackcontainer2 {
    background-color: rgba(0, 0, 0, 1);
    width: 1300px;
    height: 512px;
    border-radius: 32px;
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: 85px;
  }
  
  .container2 {
    display: flex;
    padding: 40px;
    gap: 50px;
  }
  
  .mic-img {
    width: 389px;
    height: 432px;
  }
  
  .text-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  
  .TT-tag {
    background-color: #292929;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 6px;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  
  .episode1 {
    font-size: 17px;
    line-height: 27px;
    color: rgba(17, 141, 168, 1);
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  .text-content2 h1 {
    font-family: DM Sans;
    font-size: 64px;
    font-weight: 400;
    line-height: 70.4px;
    letter-spacing: 2.56px;
    color: rgba(255, 255, 255, 1);
    margin: 10px 0;
    max-width: 701px;
  }
  
  .text-content2 p {
    font-family: DM Sans; 
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0%;
    max-width: 773px;
    margin-top: 25px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .episode-btn {
    background-color: rgba(17, 141, 168, 1);
    border: none;
    border-radius: 6px;
    padding: 12px 24px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
  }
  
  .blackcontainer3 {
    background-color: rgba(0, 0, 0, 1);
    width: 1300px;
    height: 512px;
    border-radius: 32px;
    margin-left: 100px;
    margin-top: 40px;
  }
  
  .container3 {
    display: flex;
    padding: 40px;
    gap: 50px;
  }
  
  .host-img {
    width: 389px;
    height: 432px;
  }
  
  .text-content3 {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  
  .Gear-tag {
    background-color: #292929;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 6px;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .episode2 {
    font-size: 17px;
    line-height: 27px;
    color: rgba(17, 141, 168, 1);
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .text-content3 h1 {
    font-family: DM Sans;
    font-size: 57px;
    font-weight: 400;
    line-height: 70.4px;
    letter-spacing: 2.56px;
    color: rgba(255, 255, 255, 1);
    margin: 10px 0;
    max-width: 700px;
  }
  
  .text-content3 p {
    font-family: DM Sans; 
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0%;
    max-width: 773px;
    margin-top: 25px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .episode-btn {
    background-color: rgba(17, 141, 168, 1);
    border: none;
    border-radius: 6px;
    padding: 12px 24px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
  }
  
  .host-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 80px;
    gap: 40px;
  }

  .image2 {
    width: 650px;
    height: 743px;
    border-radius: 12px;
    margin-right: -30px;
    margin-top: 250px;
  }
  
  .left-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 50px;
    margin-left: 30px;
  }
  
  .logo2 {
    width: 112px;
    height: 112px;  
    margin-top: 250px;
}
  
  .meet {
    color: rgba(17, 141, 168, 1);
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    font-weight: 400;
    margin-top: 20px;
  }
  
  .text-content4 h1 {
    color: rgba(255, 255, 255, 1);
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 65px;
    line-height: 79.2px;
    letter-spacing: 2.88px;
    margin-bottom: 20px;
  }
  
  .text-content4 p {
    max-width: 556px;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0%;
    margin-top: 20px;
  }

  .blackcontainer5 {
    background-color: rgba(0, 0, 0, 1);
    width: 1300px;
    height: 387px;
    border-radius: 32px;
    margin-left: 100px;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }
  
  .left-content {
    max-width: 500px;
  }
  
  .text-content5 {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  
  .email {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    color: rgba(17, 141, 168, 1);
    padding-left: 60px;
    margin-top: 10px;
  }
  
  .text-content5 h1 {
    font-family: 'DM Sans' sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 79.2px;
    letter-spacing: 2.88px;
    color: rgba(255, 255, 255, 1);
    padding-left: 60px;
    max-width: 480px;
    margin-top: 10px;
    
  }
  
  .Submit {
    background-color: rgba(17, 141, 168, 1);
    border: none;
    border-radius: 6px;
    padding: 12px 24px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    cursor: pointer;
    width: fit-content;
  }
  
  .form-styled {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 522px;
    height: 252px;
  }
  
  .form-styled input {
    background-color: rgba(25, 25, 25, 1);
    border: none;
    border-radius: 6px;
    padding: 26px;
    font-size: 24px;
  }
  
  .form-styled input::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .form-styled button {
    width: 87px;
    height: 48px;
    background-color: rgba(17, 141, 168, 1);
    color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 6px;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .form-styled button:hover {
    background-color:  rgba(17, 141, 168, 1);
  }

  .right-side {
    margin-right: 60px;
    margin-top: 60px;
  }
  
  .element {
    position: absolute;
    bottom: -4170px;
    left: 65px;   
    transform: rotate(-2deg); 
    z-index: 1;      
    width: 147px;           
    height: 91px;  
}

.blackcontainers {
    display: flex;
    gap: 15px;
}

.block {
    width: 423px;
    height: 321;
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 1);
    padding: 20px;
    margin-left: 50px;
    margin-top: 200px;
}

.block2 {
    width: 423px;
    height: 321;
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 1);
    padding: 20px;
    margin-top: 200px;
}

.block3 {
    width: 423px;
    height: 321;
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 1);
    padding: 20px;
    margin-top: 200px;
}

.star {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 35px;
}

.star img {
    width: 18px;
    height: 17px;
}

.text-content6 {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-left: 35px;
}

.text-content6 h1 {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 43.2px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 15px;
    max-width: 325px;
}

.text-content6 p {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 0%;
    margin-bottom: 20px;
}

.blackcontainers2 {
    display: flex;
    gap: 15px;
}

.block4 {
    width: 423px;
    height: 321;
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 1);
    padding: 20px;
    margin-left: 50px;
    margin-top: 15px;
}

.block5 {
    width: 423px;
    height: 321;
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 1);
    padding: 20px;
    margin-top: 15px;
}

.block6 {
    width: 423px;
    height: 321;
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 1);
    padding: 20px;
    margin-top: 15px;
}

.text-content7 {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-left: 35px;
}

footer {
    background-color: #191919;
    margin-top:  200px ;
    color: white;
    font-family: sans-serif;
    margin-bottom: 100px;
}

footer .blocks {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 1400px;
    gap: 10px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    margin-left: 65px;
}

.logo3 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 20px;
    color: white;
}

.logos img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 250px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 8px;
    font-size: 17px;
    cursor: pointer;
    line-height: 27px;
    letter-spacing: 0%;
    font-family: 'DM Sans' sans-serif;
    color: rgba(255, 255, 255, 1);
}

.footer-column2 ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    margin-left: 120px;
}

.footer-column2 li {
    margin-bottom: 8px;
    font-size: 17px;
    cursor: pointer;
    line-height: 27px;
    letter-spacing: 0%;
    font-family: 'DM Sans' sans-serif;
    color: rgba(255, 255, 255, 1);
}

.logos2 {
    margin-left: 10px;
}

.logos2 img {
    width: 32px;
    height: 32px;
    margin-top: 15px;
    margin-left: 15px;
}

